     /*

     */
     * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
     body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
  padding: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h5, .h5 {
    font-size: 14px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
p {
    margin: 0 0 10px;
}
/**/

     @font-face {
         font-family: 'iconfont';
         src: url('iconfont.eot');
         src: url('iconfont.eot?#iefix') format('embedded-opentype'),
         url('iconfont.woff') format('woff'),
         url('iconfont.ttf') format('truetype'),
         url('iconfont.svg#iconfont') format('svg');
     }

     .iconfont {
         font-family: "iconfont" !important;
         font-size: 20px;
         font-style: normal;
         -webkit-font-smoothing: antialiased;
         -webkit-text-stroke-width: 0.2px;
         -moz-osx-font-smoothing: grayscale;
     }
     html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
     body {
         background: #efeff4;
         font-size: 12px;
           margin: 0;
         /*color:#65646b*/
     }

     input {
         outline: none;
     }

     a {
         color: #333;
     }

     a:link {
         text-decoration: none;
     }

     a:visited {
         text-decoration: none;
     }

     a:hover {
         text-decoration: none;
     }

     a:active {
         text-decoration: none;
         /* 指正在点的链接*/
     }

     ul {
         list-style: none;
         margin: 0 10px;
         padding: 0;
     }

     .main {
         margin-bottom: 52px;
     }

     .clear {
         clear: both;
     }

     .fl {
         float: left;
     }

     .fr {
         float: right;
     }

     .head {
         background: #ff711c;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 999;
     }

     .head h5 {
         font-size: 16px;
         color: #ffffff;
         text-align: center;
         padding-top: 14px;
         margin: 0;
     }

     .head .tips {
         height: 14px;
         line-height: 14px;
         font-size: 12px;
         text-align: right;
         padding-right: 10px;
         color: red;
     }

     .foot {
         position: fixed;
         bottom: 0;
         width: 100%;
         background: #ffffff;
         border: 1px solid #dbd6d2;
         padding-top: 10px;
         display: -moz-box;
         /* Firefox */
         display: -webkit-box;
         /* Safari and Chrome */
         display: box;
     }

     .foot .active i,
     .foot .active div {
         color: #ff711c;
     }

     .foot>div {
         -moz-box-flex: 1.0;
         /* Firefox */
         -webkit-box-flex: 1.0;
         /* Safari and Chrome */
         box-flex: 1.0;
         text-align: center;
         /*padding: 10px;*/
     }

     .main {
         /* margin: 0 10px;*/
         margin-top: 45px;
         margin-bottom: 70px;
     }

     .player-recharge-box {
         margin-top: 10px;
     }

     .box .custom-btn-sm {
         color: #fff;
         background-color: #337ab7;
         border-color: #3399ff;
         display: inline-block;
         margin-bottom: 0;
         font-size: 14px;
         font-weight: 400;
         line-height: 1.42857143;
         text-align: center;
         white-space: nowrap;
         vertical-align: middle;
         -ms-touch-action: manipulation;
         touch-action: manipulation;
         cursor: pointer;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         background-image: none;
         border: 1px solid transparent;
         border-radius: 4px;
         height: 25px;
         padding: 0 12px;
         background: #3399ff;
         font-size: 12px;
         line-height: 25px;
         border-radius: 3px;
     }

     .player-recharge-msg {
         color: #6a6a6a;
         font-weight: bold;
         width: 70px;
         display: inline-block;
     }

     .proxy-recharge-msg {
         color: #6a6a6a;
         font-weight: bold;
         width: 70px;
         display: inline-block;
     }

     .main .box {
         /*border: 1px solid #b9bbbf;*/
         margin-bottom: 10px;
         background: #fff;
     }

     .main .box h5 {
         border-bottom: 1px solid #efefef;
         padding: 10px 10px;
         margin: 0;
         font-weight: bold;
         font-size: 14px;
     }

     .main .box ul {
         list-style: none;
         margin: 0 10px;
         padding: 0;
         padding-top: 8px;
     }

     .main .box ul li {
         padding: 8px 0;
         font-size: 14px;
         color: #191919;
         /*border-bottom: 1px solid #efefef;*/
     }

     .main .box ul li:last-child {
         border-bottom: none;
     }

     .main .box ul li input,
     .main .box ul li select {
         width: 172px;
         display: inline-block;
         font-size: 12px;
         height: 25px;
         line-height: 25px;
         color: #555;
         padding: 0px 6px;
         background-color: #fff;
         background-image: none;
         border: 1px solid #ccc;
         border-radius: 4px;
         -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
         -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
         transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     }

     .purchase-recharge-msg {
         color: #6a6a6a;
         font-weight: bold;
         width: 70px;
         display: inline-block;
     }

     .main .box ul li.purchase-recharge-box-method {
         display: -moz-box;
         /* Firefox */
         display: -webkit-box;
         /* Safari and Chrome */
         display: box;
         padding: 10px 0;
         padding-top: 20px;
     }

     .purchase-recharge-box-method>div {
         -moz-box-flex: 1.0;
         /* Firefox */
         -webkit-box-flex: 1.0;
         /* Safari and Chrome */
         box-flex: 1.0;
     }

     .purchase-recharge-box-method img {
         height: 35px;
     }

     .payment-method {
         display: inline-block;
     }

     .payment-method>div {
         font-size: 12px;
         font-weight: bold;
     }

     .payment-method-box {
         justify-content: center;
         display: flex;
         align-items: flex-start;
     }

     .payment-method .payment-name-en {
         font-size: 8px;
     }
     /*record*/

     .main .tab ul {
         list-style: none;
         display: -moz-box;
         /* Firefox */
         display: -webkit-box;
         /* Safari and Chrome */
         display: box;
         margin: 0;
         padding: 0;

         background: #fff;
     }

     .main .tab ul li {
         -moz-box-flex: 1.0;
         /* Firefox */
         -webkit-box-flex: 1.0;
         /* Safari and Chrome */
         box-flex: 1.0;
         text-align: center;
         /*        border-right: 1px solid #b9bbbf;*/
         font-size: 14px;
         color: #65646b;
         height: 43px;
         line-height: 43px;
     }

     .blue_block-zone {
         position: relative;
     }

     .blue_block {
         width: 25%;
         position: absolute;
         left: 0;
         bottom: 0;
         height: 2px;
         background-color: #ff711c;
     }

     .main .tab ul li.active {}

     .main .tab ul li:last-child {
         border: none;
     }

     .tab-table {
         /*border: 1px solid #b9bbbf;*/
         margin-top: 10px;
         /*background: #fff;*/
         font-size: 14px;
         color: #848484;
     }

     .my-proxy {
         background: #fff;
         padding: 10px;
     }

     .my-proxy table {
         width: 100%;
     }

     .my-proxy table tr td {
         border-top: none;
         color: #848484;
         font-size: 14px;
         padding: 3px 0px;
     }

     .tab-table>div {
         display: none;
     }

     .tab-table>div.active {
         display: block;
     }

     .tab-table .table tr:first-child td {
         border: none;
     }

     .tab-table .table tr.even td {
         border: none;
         padding-top: 0px;
     }
     /*proxy.html*/

     .personal-info table {
         width: 100%;
     }

     .personal-info>div {
         /*border: 1px solid #b9bbbf;*/
         margin-top: 10px;
         background: #fff;
         padding: 10px 10px;
     }

     .personal-info table td {
         padding: 3px 0px;
         font-size: 14px;
         color: #848484;
     }

     .password-box h5 {
         text-align: center;
         padding: 8px 0;
         margin: 0;
         font-size: 14px;
         color: #ff711c;
         position: relative;
     }

     .password-box-container {
         display: none;
     }

     .password-box-content {
         border-bottom: 1px solid #EBEBEB;
         height: 35px;
         line-height: 35px;
         color: #848484;
         font-size: 14px;
         position: relative;
     }

     .password-box-content input {
         width: 100%;
         border: none;
         padding: 0;
         height: 34px;
         padding-left: 105px;
         outline: none;
     }

     .password-box-content span {
         position: absolute;
         left: 0;
     }

     .password-box-content:last-child {
         border: none;
     }

     .vip-box {
         padding-bottom: 0;
     }

     .vip-box-title {
         font-size: 14px;
         text-align: center;
         /*border-bottom: 1px solid #b9bbbf;*/
         margin: 0;
         padding: 10px 0;
         /*color:#65646b;*/
         color: #ff711c;
         position: relative;
     }

     .add-proxy-title {
         position: relative;
     }

     .vip-box-title i,
     .password-box i,
     .add-proxy-title i {
         position: absolute;
         right: 5px;
         top: 4px;
         color: #65646b;
     }

     .vip-box-title i.up,
     .password-box i.up {
         display: none;
     }

     .vip-box em {
         background: red;
         padding: 0 2px;
         text-align: center;
         font-style: normal;
         color: #ffffff;
         margin-right: 5px;
     }

     .vip-box-container {
         color: #848484;
         display: none;
     }

     .vip-box-content {
         padding: 0 10px;
     }

     .vip-box-content h5 {
         font-size: 12px;
         font-weight: bold;
     }

     .vip-box-content p {
         margin-bottom: 6px;
         font-size: 12px;
     }

     .add-proxy {
         padding: 10px 0;
     }

     .add-proxy-button {
         padding: 10px;
     }

     .add-proxy-button i.up {
         display: none;
     }

     .add-proxy>div {
         /*border: 1px solid #b9bbbf;*/
         /*margin-top: 10px;*/
         background: #fff;
     }

     .add-proxy-button h5 {
         text-align: center;
         padding: 8px 0;
         margin: 0;
         font-size: 14px;
         color: #ff711c;
     }

     .extension-record {
         margin-top: 10px;
         background: #fff;
         padding: 10px 10px;
     }

     .extension-record table {
         width: 100%;
     }

     .extension-record table tr td {
         padding: 3px 0px;
         font-size: 14px;
         color: #848484;
     }

     .modal-dialog {
         margin-top: 35%;
     }

     .modal-header,
     .modal-footer {
         padding: 8px;
     }

     .add-proxy-box {
         /*display: none;*/
         font-size: 14px;
         color: #848484;
     }

     .add-proxy-box ul {
         margin: 0;
         padding: 0;
     }

     .add-proxy-box ul li {
         position: relative;
         border-bottom: 1px solid #efefef;
         margin: 0 8px;
         /* padding: 5px 0;*/
         height: 40px;
    line-height: 40px;
     }

     .add-proxy-box ul li:last-child {
         height: auto;
         line-height: auto;
         padding: 5px 0;
     }

     .add-proxy-box ul li span {
         position: absolute;
     }

     .add-proxy-box ul li .identifying-code {
         position: absolute;
         right: 0;
         top: 5px;
         height: 28px;
         line-height: 28px;
     }

     .add-proxy-box ul li .identifying-code button {
         height: 28px;
         line-height: 28px;
         border: none;
         border-radius: 5px;
         outline: none;
         padding: 0 8px;
         background: #3399ff;
         font-size: 12px;
         color: #fff;
     }

     .add-proxy-box input {
         width: 100%;
         border: none;
         padding: 0;
         height: 34px;
         padding-left: 80px;
         padding-right: 90px;
         outline: none;
         -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     }
     /*financal.html*/

     .financial-tip-box {
         display: -moz-box;
         /* Firefox */
         display: -webkit-box;
         /* Safari and Chrome */
         display: box;
         margin-bottom: 10px;
     }

     .financial-tip-box h5 {
         font-size: 16px;
     }

     .financial-tip-box>div {
         background: -webkit-linear-gradient(left top, #de834d, #de6721);
         /* Safari 5.1 - 6.0 */
         background: -o-linear-gradient(bottom right, #de834d, #de6721);
         /* Opera 11.1 - 12.0 */
         background: -moz-linear-gradient(bottom right, #de834d, #de6721);
         /* Firefox 3.6 - 15 */
         background: linear-gradient(to bottom right, #de834d, #de6721)/* 标准的语法 */
         -moz-box-flex: 1.0;
         /* Firefox */
         -webkit-box-flex: 1.0;
         /* Safari and Chrome */
         box-flex: 1.0;
         text-align: center;
         /*background: #3399ff;*/
         color: #ffffff;
         padding: 20px 0;
     }

     .financial-tip-box>div p {
         font-weight: bold;
         font-size: 26px;
     }

     .financial-tip-box>div .ques {
         position: absolute;
         right: 5px;
         background: #ffffff;
         color: #000000;
         width: 16px;
         height: 16px;
         border-radius: 8px;
         border: 1px solid #92d050;
     }

     .financial-amount-box {
         /*border: 1px solid #b9bbbf;*/
         font-size: 14px;
         color: #5d5d5d;
         background: #ffffff;
     }

     .financial-amount-box h5 {
         padding: 5px 15px;
         padding-top: 18px;
         letter-spacing: 1px;
     }

     .financial-amount-box .amount {
         padding: 5px 10px;
         position: relative;
     }

     .financial-amount-box .amount span {
         position: absolute;
         font-size: 26px;
     }

     .financial-amount-box .amount input {
         width: 100%;
         padding: 3px 30px;
         font-size: 26px;
         font-weight: bold;
         text-align: center;
         border: none;
         outline: none;
     }

     .financial-amount-box p {
         padding: 10px 5px;
         margin: 0 10px;
         border-top: 1px solid #848484;
         color: #848484;
         letter-spacing: 1px;
     }

     .financial-amount-box p span {
         color: #ff711c;
     }

     .financial-amount-box button {
         background: #92d050;
         color: #ffffff;
         padding: 6px 18px;
         text-align: center;
         border: none;
         font-size: 14px;
         border-radius: 5px;
     }

     .financial-amount-box .cash {
         text-align: center;
         padding: 10px 0;
         padding-top: 5px;
     }

     .financial-content-box {
         /*letter-spacing: 1px;*/
         padding: 5px 15px;
         background: #ffffff;
         margin-top: 10px;
     }

     .financial-content-box p {
         border-top: 1px dashed #dedede;
         padding: 8px 0;
         color: #848484;
         margin-bottom: 0;
         font-size: 12px;
     }

     .financial-content-box h5 {
         color: #848484;
     }

     .financial-content-box h5>span {
         font-size: 18px;
         color: #ff711c;
     }
     /*record.html*/

     .record-conetent {
         background: #fff;
         padding: 10px;
     }
     .custom-table{
        width: 100%;
     }
     .tab-table .custom-table tr td{
        /*border-bottom: 1px solid #efefef;*/
        padding: 3px 3px;
        vertical-align: top;
     }
     .tab-table .custom-table tr.odd:first-child td {
    padding-top:0px;
}
.tab-table .custom-table tr.even:last-child td {
    border: none;
}
.tab-table .custom-table tr.even td {
    border-bottom: 1px solid #efefef;
    padding-bottom: 8px;
}
.tab-table .custom-table tr.odd td {
    padding-top: 8px;
}