/*payment.css*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #a0a0a0;
}

body {
    background: #fff;
    /*background: #f8f8f9;*/
    font-family: "microsoft yahei";
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear:both;
    height: 0;
}
.banner{
    margin-bottom: 10px;
}
.banner img{
    width: 100%;
}
.person-wallet-recharge ul{
    margin: 0 15px;
}
.person-wallet-recharge ul li {
/*    float: left;*/
    width: 100%;
    height: 44px;
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 5px;
    line-height: 44px;
    margin-bottom: 10px;
    /*margin: 0px 1% 7px 4%;*/
    box-sizing: border-box;
    color: #191919;
    position: relative;
    list-style: none;
    cursor:pointer;
}
.person-wallet-recharge ul li:last-child{
    margin-bottom: 0;
}
.person-wallet-recharge ul li.active {
    color: #ff4c4c;
    border: #ff4c4c 1px solid;
}
.person-wallet-recharge ul li h5{
    font-size:16px;
    color: #848484;
    font-weight: normal;
}
.person-wallet-recharge ul li.active h5{
color: #ff4c4c;
}
.person-wallet-recharge ul li .sel {
    background: url(../../image/iconfont-dagouxuanzhong.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
.person-wallet-amount{
    padding: 10px 15px;
    padding-top:15px;
    font-size:14px;
    color:#848484;
        display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -o-flex;
}
.amount-text{
    width:50px;
}
.amount-input{
    flex: 1;
}
.amount-input input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}
.person-wallet-amount span{
    color:#191919;
    padding-right:5px;
}
.person-wallet-button{
    margin:20px 15px;
    margin-top:15px;
}
.person-wallet-button button {
    background: #eb5e18;
    color: #fff;
    border: 1px solid #f5af8c;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    outline: none;
    font-size:14px;
}
.person-wallet-tip{
    color:#CCCCCC;
    font-size:12px;
    padding: 0 15px;
}
.person-wallet-tip span{
    color:#191919;
}
.head {
    margin-top: 70px;
    text-align: center;
}

.person-wallet-nav{
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -o-flex;
    margin-top:10px;
}

.person-wallet-title{
    flex: 1;
    border-right: 1px solid #efefef; 
    text-align: center;
    font-size: 14px;
    color:#848484;
    padding: 5px 0;
    box-sizing:border-box;
}

.main {
    margin-top: 12px;
}
.layui-m-layercont .layer-content{
    font-size:16px;
    color:#191919;
    text-align:left;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -o-flex;
    box-sizing:border-box;
}
.layer-content .layer-text{
        flex: 1;
        box-sizing:border-box;
}
.layer-content .layer-input{
        flex: 2;
        box-sizing:border-box;
}
.layui-m-layercont input{
    color:#848484;
    border: none;
    outline: none;
    font-size:16px;
    padding: 0 10px;
    width: 100%;
    box-sizing:border-box;

}
/*.account-line,
.password-line {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center
}*/


